<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @new_restaurants.present? %>
      <h2>We've found new restaurant leads for you.</h2>
      <br/>
      <% @cities.each do |city| %>
        <% if @new_restaurants[city].present? %>
          <h3><%= city %></h3>
          <% city_restaurants = @new_restaurants[city].group_by(&:source) %>
          <% sources = city_restaurants.keys %>
          <% sources.each do |source| %>
            <h4>Via <%= source %>:</h4>
            <%= render "restaurant_website_view", :restaurants => city_restaurants[source] %>
            <br/>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h2>No new restaurants today.</h2>
    <% end %>
  </body>
</html>