<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>We've found new restaurants leads for you:</h2>
    <br/>
    <% if @yelp_restaurants.present? %>
    <h3>From Yelp</h3>
    <ul>
      <% @yelp_restaurants.each do |r| %>
        <li><a href="<%= r.url %>"><%= r.name %></li>
      <% end %>
    </ul>
    <% end %>
  </body>
</html>